[package]
name = "netmuxd"
version = "0.3.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

default-run = "netmuxd"

[[bin]]
name = "passthrough"
path = "src/passthrough.rs"

[[bin]]
name = "add_device"
path = "src/add_device.rs"

[dependencies]
tokio = { version = "1", features = ["full"] }
futures-util = { version = "0.3.21" }
crossfire = { version = "2.1", features = ["tokio"] }

zeroconf = { git = "https://github.com/zeyugao/zeroconf-rs", optional = true }
mdns = "3.0.0"

idevice = { version = "0.1.43", features = ["usbmuxd", "heartbeat"] }
plist = "1.8"

log = { version = "0.4.16" }
env_logger = { version = "0.11" }
colored = { version = "3.0.0" }
uuid = { version = "1.11", features = ["v4"] }
